main{
    position: fixed;
    bottom: 65px;
    top:40px;
    right:0px;
    left:0px;
    overflow-y: scroll;
}

.intro{
    text-align: center;
    margin: auto;
    padding: 5px;
}

.title{
    text-align: center;
    font-size: 3.5em;
    font-family: 'nerdland';
}

.sub-title{
    font-family: 'Nelship';
    text-align: center;
    padding-top: 35px;
}

.main-inner{
    margin-top: -50px;
    
}

.main-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px;
    color: #48A9A6;
}

.main-link{
    text-decoration: none;
}

.main-link:visited {
    color: #48A9A6;
}

.main-link:hover {
    color: #FEC369;
}

@media only screen and (min-width: 600px) {
    .intro{
        min-width: 500px;
    }
}