
.dash-main {
    padding: 0.5rem;
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    overflow-y: auto;
}
#choice_form
{
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 75px;
    left: 15px;
    right: 15px;
}
#choice_form button
{
   height: 40px;
   margin: 2px;
}

@media all and (min-width: 600px){
    #choice_form{
        align-items: center;
        justify-content: center;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #choice_form button{
        margin: 5px;
    }
}